.d-pad {
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 30vh;
  height: 30vh;
}

.d-pad__left,
.d-pad__center,
.d-pad__right {
  display: inline-block;
  height: 100%;
  width: 33%;
}

.d-pad__button-left {
  margin: 100% 0;
}

.d-pad__button-right {
  margin: 100% 0;
}

.d-pad__arrows {
  position: relative;
  height: 34%;
  width: 100%;
  background: url('../../svg/arrows.svg') center no-repeat;
  background-size: 90%;
}

.d-pad__button-up,
.d-pad__button-right,
.d-pad__button-left,
.d-pad__button-down {
  height: 33%;
  width: 99%;
  border-radius: 50%;
}