$body: #d9dbc5;
$display: #909d83;
$on: darken($display, 35%);
$off: darken($display, 5%);

.display {
  width: 100%;
  height: 50vh;
}
.display__legend {
  margin: 0 auto;
  height: 3vh;
  width: 18vh;
  background-size: 100% 100%;
  background-image: url('../../svg/legend.svg');
  border-left: 1vh solid $body;
  border-right: 1vh solid $body;
}
.display__edging {
  width: 38vh;
  margin: 0 auto;
  padding: 0 1vh 1vh;
  border: .5vh solid #911;
}
.display__borders {
  margin: 0 auto;
  width: 33vh;
  height: 43.5vh;
  background-color: $display;
  border-radius: .5vh;
  border-top: 1vh solid darken(desaturate($body, 5%), 1.25%);
  border-bottom: 1vh solid darken(desaturate($body, 5%), 2.5%);
  border-left: 2.5vh solid darken(desaturate($body, 5%), 6.25%);
  border-right: 2.5vh solid lighten($body, 2.5%);
}
.display__glass {
  width: 100%;
  height: 100%;
  border-radius: .5vh;
  box-shadow:
    inset .25vh .25vh 1vh 0 darken(desaturate($display, 5%), 30%),
    1vh 0 1vh 0 lighten($body, 12.5%),
    -1vh 0 1vh 0 darken(desaturate($body, 15%), 25%);
}
.display__frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  float: left;
  width: 20vh;
  margin: 4% 0 4% 3%;
  padding: .5vh;
  outline: .5vh solid $on;
}
.display__pixel_off {
  fill: $off;
}
.display__pixel_on {
  fill: $on;
}
.display__pixel_blink {
  animation: blink .24s linear infinite;
}
@keyframes blink {
  from {fill: $on;}
  to {fill: $off;}
}
.display__side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: right;
  width: 11vh;
  color: $on;
}
.display__score,
.display__hi-score,
.display__level,
.display__speed,
.display__lives,
.display__pause,
.display__sound {
  text-align: center;
  font-family: arial;
  font-style: italic;
  font-size: 1.25vh;
  line-height: 2vh;
  width: 100%;
  margin: 1vh auto 0;
}
.display__score-value,
.display__hi-score-value,
.display__level-value,
.display__speed-value {
  margin: 0;
  font-style: normal;
  font-family: "DS-Digital";
}
.display__score-value,
.display__hi-score-value {
  font-size: 2.5vh;
  line-height: 2.5vh;
}
.display__level-value,
.display__speed-value {
  line-height: 5vh;
  font-size: 5vh;
}
.display__score {
  margin-top: 1.5vh;
}
.display__lives {
  margin-bottom: 1.5vh;
}
.display__pause,
.display__sound {
  width: 40%;
  font-size: 1vh;
  line-height: 1vh;
  margin: 1vh 0 0;
  color: $off;
  fill: $off;
}
.display__pause_on,
.display__sound_on {
  color: $on;
  fill: $on;
}
.display__pause-svg,
.display__sound-svg {
  width: 75%;
  margin-top: .5vh;
}