.display__legend {
margin: 0 auto;
font-family: impact;
height: 4vh;
width: 24vh;
min-height: 16px;
min-width: 96px;
background-size: 100% 100%;
background-image: url('./legend.svg');
border-left: 1.25vh solid #D9DBC5;
border-right: 1.25vh solid #D9DBC5;
}