.display__frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  float: left;
  width: 20vh;
  height: 40vh;
  margin: 4% 0 4% 3%;
  padding: .5vh;
  outline: .5vh solid #313729;
}