.display__hi-score-value {
  margin: 0;
  font-style: normal;
  line-height: 15px;
  font-family: "DS-Digital";
  font-size: 14px;
}
@media all and (min-height: 400px) {
  .display__hi-score-value {
    font-size: 3.5vh;
    line-height: 3.75vh;
  }
}