.display__glass {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow:inset 1px 1px 4px 0 #313729, 4px 0 4px 0 #f8f9e3, -4px 0 4px 0 #97998c;
}
@media all and (min-height: 400px) {
  .display__glass {
    border-radius: .5vh;
    box-shadow:inset .25vh .25vh 1vh 0 #313729, 1vh 0 1vh 0 #f8f9e3, -1vh 0 1vh 0 #97998c;
  }
}