.snek {
  position: relative;
  margin: 0 auto;
  width: 42vh;
  height: 85vh;
}
.button {
  background-color: #ffd700;
  background-image: linear-gradient(to left top, #ffd700 0%, #ffdf7c 100%);
  cursor: pointer;
  box-shadow:
    inset -.25vh -.25vh .5vh 0 #d4b500,
    inset .5vh .5vh 2vh 0 #fff7cd,
    0 -.5vh 0 0 #eecf20,
    .5vh .5vh .75vh #9d9f8f,
    0 -.5vh 0 .25vh #aeaf9e;
}
.button:active {
  transform: translateY(-.5vh);
  box-shadow:
  inset -.25vh -.25vh .5vh 0 #d4b500,
  inset 0 0 .5vh .25vh #cfb000,
  inset .5vh .5vh 2vh 0 #fff7cd,
  0 0 0 .25vh #aeaf9e,
  .5vh .5vh .25vh 0 #e3e5d5;
}