.display__pause {
  position: relative;
  width: 5vh;
  text-align: center;
  font-family: arial;
  font-style: italic;
  font-size: 1.25vh;
  line-height: 2vh;
  margin: 5vh auto 0;
  color: #7e916c;
  fill: #7e916c;
}
.display__pause_on {
  color: #313729;
  fill: #313729;
}