.display__borders {
  margin: 0 auto;
  width: 33vh;
  height: 42.5vh;
  background-color: #909D83;
  border-width: 2.5vh;
  border-radius: .5vh;
  border-style: solid;
  border-top-color: #d6d8c3;
  border-left-color: #bdbfae;
  border-bottom-color: #caccb7;
  border-right-color: #e3e5ce;
}
